# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Python cache
.pytest_cache/
.mypy_cache/


# =========================
# Jupyter
# =========================

.ipynb_checkpoints/


# =========================
# IDEs
# =========================

.idea/
.vscode/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db


# =========================
# Logs / Temporary
# =========================

*.log
*.tmp
*.temp


# =========================
# Environment
# =========================

.env
*.env


# =========================
# Large files
# =========================

*.zip
*.tar.gz
*.pt
*.pth
*.h5